# Flutter / Dart
.dart_tool/
.packages
pubspec.lock
build/
coverage/

# IDE / Editor
.idea/
.vscode/
*.iml

# Platform builds
ios/Pods/
ios/DerivedData/
android/.gradle/
android/app/build/

# Generated code
**/*.g.dart
**/*.freezed.dart

# Env / Secrets
.env
firebase_options.dart.bak

# Logs
*.log

# Misc
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
